<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-3 col-md">
                <small class="d-block mb-3 text-muted">UWA DataAnalytics BootCamp, 2022</small>
            </div>
            <div class="col-3 col-md">
                <h5>Links</h5>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item"><a class="text-muted text-decoration-none"
                        href="https://github.com/briginmis/ufc-sports-analytics">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>