{% extends "base.html" %}

{% block body %}

  <div class="container">
    <!-- Title of the page here -->
    <div class="row">
              <h1 class = "text-white">Who is the Ultimate Fighter?</h1>
    </div>
         <br>   
    <!-- New Row for the content -->
    <div class="row">

      <!-- First Column -->
      <div class="col-md-7">
        <div class="header">
          <h3 class = "text-white">Project Overview</h3>
        </div>

        <div class = "body">
          <p class = "text-white">The UFC (Ultimate Fighting Championship) is one of the fastest growing sports organisations in the world, earning approximately US$4.9 billion in 2021, whilst only being founded in 1993. The UFC is the largest MMA (Mixed Martial Arts) promotion in the world, with 689 fighters contracted to fight in any location in the world, so long as it holds a caged octagon. </p>
          <p class = "text-white">MMA, as its name suggests, is a hybrid combat sport which incorporates techniques from a variety of martial arts such as boxing, muay thai, karate, BJJ (brazilian jiu jitsu) and wrestling. The rules of MMA are simple; you have 3 (or 5), 5 minute rounds to fight an opponent of the same weight class. You can win via: <li class = "text-white">KO (knock out)</li><li class = "text-white">TKO (technical knock-out)</li><li class = "text-white">submission, or</li><li class = "text-white">decision</li></p>
          <p class = "text-white">Because there are so many different ways to win a fight, it is difficult to predict whether someone will win or lose. This is what makes this beautifully brutal sport fascinating to watch.</p>
          <p class = "text-white">There is one question which always causes debate amongst fight fans across the world -</p>
          <blockquote class = "blockquote text-white">"Who is the pound-for-pound greatest fighter in the world?"</blockquote>
          <p class = "text-white">In summary, this question aims to identify the single best fighter in the world, regardless of size. There are many different factors to consider when determining who is the greatest of all time - How many fights have they won? Who did they win against? How did they win? Can anyone else beat them?</p>
          <p class = "text-white">The main aim of this project is to determine who is the Ultimate Fighter. Who is the pound-for-pound best fighter in the world? Who is the Greatest of All Time?</p>
          <p class = "text-white">We will begin by training a machine learning model to predict the outcome of a fight. Using the most significant features identified from the machine learning model, we can then determine who is the Greatest Fighter of All Time.</p>
          <p class = "text-white">We will also provide some fun statistics to display the diverse range of MMA athletes. Refer to the tabs above for more information.</p>
        </div>
      </div>
      <div class="col-md-5">
        <br>
        <img src="https://content.api.news/v3/images/bin/7f5dd8523af4b8d61fbd617bcf5f890a" width = "500" alt="imagenotfound">
        <br>
        <br>
        <img src="https://sportshub.cbsistatic.com/i/r/2021/12/29/a46a4c06-2073-4a56-9c5f-69bb5884fd88/thumbnail/1200x675/649728a33572c07e276b5082696d380f/khabib-dustin-feature.jpg" width = "500" alt="imagenotfound">
      </div>
    </div>
  </div>

  {% include "dependency.html" %}

  <script src="../static/js/index.js"></script>

{% endblock %}